[submodule "src/External/glfw"]
	path = src/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/External/stb"]
	path = src/External/stb
	url = https://github.com/nothings/stb.git
[submodule "src/External/cgltf"]
	path = src/External/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "src/External/imgui"]
	path = src/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/External/assimp"]
	path = src/External/assimp
	url = https://github.com/assimp/assimp.git
